
# This file holds credentials for the CredentialsManager.
#
# Note: The access permissions on this file must be 600.
#
# Example:
# 'url' is used to match the other information with any URL that matches the prefix
# 'id' is the user Id, 'key' is the matching secret key, 'region' is the AWS region and
# 'bucket' is the S3 bucket. Matching URLs will be signed using the AWS v4 algorithm.
# The name to the left (e.g., 'cloudydap') is arbitrary and only serves to group these
# five strings together.
#
cloudydap = url:https://s3.amazonaws.com/cloudydap/
cloudydap += id:SOME_VALID_ID
cloudydap += key:SOME_VALID_KEY
cloudydap += region:us-east-1
cloudydap += bucket:cloudydap

# This can be used to bind other credentials to specific URLs

podaac = url:https://archive.podaac.earthdata.nasa.gov/
podaac += edl_token:BEARER <token>
