## directories
.deps
.libs
.pydevproject
.autotools
.dir
autom4te.cache
/bes-*
docs
.idea/
bes_VERSION
cookies
gcovr_report.txt
make_files.txt
merged.txt
**/unused
/build
__pycache__

## files
*~
*.o
*.lo
*.output
*.tab.cc
*.tab.hh
lex.*.cc
*.la
# Assuming there's a ...pc.in it's built from
*.pc
*.log
*.trs
*.Po
*.gcda
*.gcno
set_ec.sh
# These spec files are now generated
bes.spec
bes.spec.all-static

## OS-X Finder spoo
*.DS_Store

.dirstamp
.settings
.cproject
.project
.DS_Store
*/.DS_Store

VERSION
Makefile
Makefile.in
doxy.conf
doxygen_warnings.txt
main_page.doxygen
bes.spec.all_static

conf/compile
conf/config.guess
conf/config.sub
conf/depcomp
conf/install-sh
conf/libtool.m4
conf/ltmain.sh
conf/ltoptions.m4
conf/ltsugar.m4
conf/ltversion.m4
conf/lt~obsolete.m4
conf/missing
conf/test-driver
config.h
config.h.in
config.status
configure
stamp-h?
aclocal.m4
libtool

## bes specific files

**/atconfig
**/atlocal
**/generate_data_baseline.sh
**/generate_metadata_baseline.sh
**/test_config.h
**/bes.conf
**/testsuite
**/testsuite.dir
**/package.m4

abi_checker.xml
bes-config
besd

bin/besCreateModule

cmdln/bescmdln
cmdln/unit-tests/translateT
cmdln/testsuite/besTest
cmdln/testsuite/package.m4

dap/dap.conf
dap/unit-tests/ResponseBuilderTest
dap/unit-tests/ResponseCacheTest
dap/unit-tests/StoredDap2ResultTest
dap/unit-tests/StoredDap4ResultTest
dap/unit-tests/test_config.h

dapreader/dapreader.conf
dapreader/tests/DapReaderTest
dapreader/tests/bes.conf
dapreader/tests/package.m4

dispatch/unit-tests/BESCatalogListUnitTest
dispatch/unit-tests/agglistT
dispatch/unit-tests/catT
dispatch/unit-tests/checkT
dispatch/unit-tests/constraintT
dispatch/unit-tests/debugT
dispatch/unit-tests/defT
dispatch/unit-tests/fsT
dispatch/unit-tests/infoT
dispatch/unit-tests/keysT
dispatch/unit-tests/pfileT
dispatch/unit-tests/plistT
dispatch/unit-tests/pvolT
dispatch/unit-tests/regexT
dispatch/unit-tests/replistT
dispatch/unit-tests/reqhandlerT
dispatch/unit-tests/reqlistT
dispatch/unit-tests/resplistT
dispatch/unit-tests/scrubT
dispatch/unit-tests/servicesT
dispatch/unit-tests/test_config.h
dispatch/unit-tests/testdir/
dispatch/unit-tests/urlT
dispatch/unit-tests/utilT
dispatch/bes/bes.conf

functions/functions.conf
functions/tests/atconfig
functions/tests/atlocal
functions/tests/generate_data_baseline.sh
functions/tests/generate_metadata_baseline.sh
functions/tests/package.m4
functions/unit-tests/CEFunctionsTest
functions/unit-tests/GridGeoConstraintTest
functions/unit-tests/TabularFunctionTest
functions/unit-tests/test_config.h
/functions/stare/build_sidecar
/functions/stare/unit-tests/StareFunctionsTest

ppt/unit-tests/connT
ppt/unit-tests/extT
ppt/unit-tests/sbT
ppt/unit-tests/sbT.out

server/besctl
server/besdaemon
server/beslistener
server/hyraxctl

standalone/besstandalone

xmlcommand/unit-tests/buildT
xmlcommand/unit-tests/propsT
xmlcommand/unit-tests/test_config.h

timing/*/*.log
timing/*/*.result
timing/*/*.dtps
/html/
/.externalToolBuilders/
/.scannerwork/
/bw-output/

## IDE configuration
.vscode
