[submodule "modules/hdf4_handler"]
	path = modules/hdf4_handler
	url = https://github.com/opendap/hdf4_handler
	branch = master
[submodule "modules/hdf5_handler"]
	path = modules/hdf5_handler
	url = https://github.com/opendap/hdf5_handler
	branch = master
