## directories
.deps
.libs
autom4te.cache

## files
*~
*.o
*.lo
*.output
*.tab.cc
*.tab.hh
lex.*.cc
*.la
# Assuming there's a ...pc.in it's built from
*.pc
*.log
*.trs

.dirstamp

Makefile
Makefile.in
conf/compile
conf/config.guess
conf/config.sub
conf/depcomp
conf/install-sh
conf/libtool.m4
conf/ltmain.sh
conf/ltoptions.m4
conf/ltsugar.m4
conf/ltversion.m4
conf/lt~obsolete.m4
conf/missing
conf/test-driver
config.h
config.h.in
config.status
configure
stamp-h?
aclocal.m4
libtool

## libdap specific files
gl/*.h

dap-config
dap-config.1
dods-datatypes-config.h
dods-datatypes.h
getdap
getdap.1
xdr-datatypes-config.h
xdr-datatypes.h

abi_checker.xml

