#
# The bes build
#
# Initial Travic-CI control file. 6.5.15 jhrg
# Hacked quite a bit; added support for parallel autotest tests
# and removed unused parts. jhrg 8.23.17
#
# Now uses hyrax-dependencies and libdap binaries stored in an AWS S3 bucket
# that were built using other builds. jhrg 2.24.18

dist: trusty

sudo: false

language: cpp

compiler: gcc

branches:
  only:
  - master
  - coverity_scan
  - travis

addons:
  coverity_scan:
    project:
      name: "OPENDAP/bes"
    notification_email: jgallagher@opendap.org
    build_command_prepend: ./configure --disable-dependency-tracking --prefix=$prefix --with-dependencies=$prefix/deps --enable-developer
    build_command: "make -j7"
    branch_pattern: coverity_scan
  apt:
    packages:
    - uuid-dev
    - libxml2-dev
    - libcurl4-openssl-dev
    - libcppunit-dev
    - libicu-dev
    - debhelper
    - devscripts
    - lintian
    - fakeroot
    - build-essential
    

#    - sshpass
#   ssh_known_hosts: www.opendap.org

env:
  global:
  # NB: This value of $prefix must be shared between the hyrax-deps, libdap and bes builds.
  - prefix=$HOME/install
  - PATH=$prefix/bin:$prefix/deps/bin:$PATH
  - TESTSUITEFLAGS=-j7  
  # COVERITY_SCAN_TOKEN
  - secure: "KNE6gkK7+WEQkNLiW/oap/3E/YSq6nzH6icXWpgA3MZj2KX0i6IzQgteeEGFUC1vDTzkCpqSidvGxdd22V33s0sHDuLRI5e17VFMjI5WyWjRQaXMhWmyO5/ofx7AArvaCWq6w6zfn1T/LiIuHXc14Rg8uuWEgDGWM0USiSbMepc="
  # AWS_ACCESS_KEY_ID
  - secure: "NNcSfmrBN9ctc8LoRVeLcYPzf2wYCSLUNCdNuVEsBdOMa5JLTdFMBEhfrgkLmiUSf1K+V97tw3rJuRcdwAXbwBMuJ0o8+gDG4c63clDDWYDXa08gdpKhy0FFqlUohVeMNpfCawvTm46/p6P0SlKg245by5OcVZ4HfjIGUasJHEw="
  # AWS_SECRET_ACCESS_KEY
  - secure: "BVETDaGI/cwfUHdvsGPkV1o7jd6OnqyvtFCPk0WsmCWh6PdpwXQ8D4yFdk4jejWxa0YFdRiCgK3ThHqqzv+6pDxrMnpYOx2O+ZjK//ErECjDa+OCJr2ObCwlqOPE6+4aVmPDz5ecjd2inVR5CfL5/Kt3Zgn4U9fNBUz9OMYpRF4="

# The env var $TRAVIS_AT_OO must be made using 
# "travis encrypt TRAVIS_AT_OO=<secret> -r OPENDAP/bes"
# where -r <...> is the name of the travis repo from our Travis landing page
# and the <secret> is the 'travis' user's password on www.opendap.org.
#
# TRAVIS_AT_OO
# - secure: "J0HEROlR4GbOB1ZSoUIo5mEUzVzmxTKSvpS/jrAWbFB5JJHxCHd/oQh5dzTK9NiDaGGPN9Y2acA8Oyuz4Hsle7+DgAWvtGr4+hFqfYx7oLsxhhb3VTRNivuSsldsbNCUO4ebtezArH4hVLYw6ScwgDpnQfVrPkBMpyf4Iu3UMYs="

before_install:

# hyrax-dependencies-build.tar.gz includes/makes the build directory
install:
- (cd $TRAVIS_BUILD_DIR && curl -s -O https://s3.amazonaws.com/opendap.travis.build/hyrax-dependencies-build.tar.gz) 
- tar -C $HOME -xzvf $TRAVIS_BUILD_DIR/hyrax-dependencies-build.tar.gz
- (cd $TRAVIS_BUILD_DIR && curl -s -O https://s3.amazonaws.com/opendap.travis.build/libdap-build.tar.gz) 
- tar -C $HOME -xzvf $TRAVIS_BUILD_DIR/libdap-build.tar.gz

# - aws s3 cp s3://opendap.travis.build/libdap-build.tar.gz $TRAVIS_BUILD_DIR
# - aws s3 cp s3://opendap.travis.build/hyrax-dependencies-build.tar.gz $TRAVIS_BUILD_DIR

before_script:
- printenv
- autoreconf --force --install --verbose

jobs:
  stages:
  - name: build
    if:  branch != coverity_scan
  include:
  - stage: build
    script: 
    - export BES_MAIN_BUILD=yes
    - ./configure --disable-dependency-tracking --prefix=$prefix --with-dependencies=$prefix/deps --enable-developer
    - make -j7 && make install && besctl start && make check -j7
  - stage: build
    script:
    - export BES_MAIN_BUILD=no
    - ./configure --disable-dependency-tracking --prefix=$prefix --with-dependencies=$prefix/deps --enable-developer 
    - make distcheck -j7
  - stage: build
    script:
    - wget https://s3.amazonaws.com/opendap.travis.build/libdap_3.20.0-1_amd64.deb
    - sudo dpkg -i libdap_3.20.0-1_amd64.deb
    - export BES_MAIN_BUILD=no
    - ./configure --disable-dependency-tracking --prefix=$prefix --with-dependencies=$prefix/deps --enable-developer 
    - make deb -j7
    - ls $prefix
    - ls $PATH

# using: 'test -z "$AWS_ACCESS_KEY_ID" || ...' keeps after_script from running
# the aws cli for forked PRs (where secure env vars are null). I could've used
# an 'if' to block out the whole script, but I didn't... jhrg 3/21/18
after_script:
- LOG_FILE_TGZ=bes-autotest-${TRAVIS_JOB_NUMBER}-logs.tar.gz
- tar -czf /tmp/${LOG_FILE_TGZ} `find . -name timing -prune -o -name '*.log' -print -o -name '*site_map.txt' -print`
- sudo apt-get update -qq
- pip install --user awscli
- test -z "$AWS_ACCESS_KEY_ID" || aws s3 cp /tmp/${LOG_FILE_TGZ} s3://opendap.travis.build/

# - sshpass -p ${TRAVIS_AT_OO} scp /tmp/${LOG_FILE_TGZ} travis@www.opendap.org:tmp/${LOG_FILE_TGZ}
