#
# The bes build
#
# Initial Travic-CI control file. 6.5.15 jhrg
# Hacked quite a bit; added support for parallel autotest tests
# and removed unused parts. jhrg 8.23.17
#
# Now uses hyrax-dependencies and libdap binaries stored in an AWS S3 bucket
# that were built using other builds. jhrg 2.24.18

dist: trusty

sudo: false

language: cpp

compiler: gcc

branches:
  only:
  - master
  - coverity_scan

addons:
  sonarcloud:
    organization: "opendap" # the key of the org you chose at step #3
    notification_email: jgallagher@opendap.org
    build_command_prepend: ./configure --disable-dependency-tracking --prefix=$prefix --with-dependencies=$prefix/deps --enable-developer
    build_command: make -j7 && make check -j7
    token:
      # SonarCloud 'OPENDAP_bes' key
      secure: "V042KJv1u0GBYfZOIsg+NilBA3t2ediJMsqRHASa83QcPR7hkGz8dMdBigpGNEqUonmLrPTTb7OoyS2bbhYTNuEILo1WrILg4EEDLRVKJtHrdEPEtwOPJGwBHicN5mK3n8TJBhhHJQQ9CtIRU0b1rlIh0xKd6zlS189+uSdtXsg="

  coverity_scan:
    project:
      name: "OPENDAP/bes"
    notification_email: jgallagher@opendap.org
    build_command_prepend: ./configure --disable-dependency-tracking --prefix=$prefix --with-dependencies=$prefix/deps --enable-developer
    build_command: "make -j7"
    branch_pattern: coverity_scan
  apt:
    packages:
    - uuid-dev
    - libxml2-dev
    - libcurl4-openssl-dev
    - libcppunit-dev
    - libicu-dev
    - debhelper
    - devscripts
    - lintian
    - fakeroot
    - build-essential

env:
  global:
  # NB: This value of $prefix must be shared between the hyrax-deps, libdap and bes builds.
  - prefix=$HOME/install
  - PATH=$prefix/bin:$prefix/deps/bin:$PATH
  - TESTSUITEFLAGS=-j7
  # Change this when libdap version numbers change
  - LIBDAP_RPM_VERSION=3.20.2-1
  # COVERITY_SCAN_TOKEN
  - secure: "KNE6gkK7+WEQkNLiW/oap/3E/YSq6nzH6icXWpgA3MZj2KX0i6IzQgteeEGFUC1vDTzkCpqSidvGxdd22V33s0sHDuLRI5e17VFMjI5WyWjRQaXMhWmyO5/ofx7AArvaCWq6w6zfn1T/LiIuHXc14Rg8uuWEgDGWM0USiSbMepc="
  # AWS_ACCESS_KEY_ID
  - secure: "NNcSfmrBN9ctc8LoRVeLcYPzf2wYCSLUNCdNuVEsBdOMa5JLTdFMBEhfrgkLmiUSf1K+V97tw3rJuRcdwAXbwBMuJ0o8+gDG4c63clDDWYDXa08gdpKhy0FFqlUohVeMNpfCawvTm46/p6P0SlKg245by5OcVZ4HfjIGUasJHEw="
  # AWS_SECRET_ACCESS_KEY
  - secure: "BVETDaGI/cwfUHdvsGPkV1o7jd6OnqyvtFCPk0WsmCWh6PdpwXQ8D4yFdk4jejWxa0YFdRiCgK3ThHqqzv+6pDxrMnpYOx2O+ZjK//ErECjDa+OCJr2ObCwlqOPE6+4aVmPDz5ecjd2inVR5CfL5/Kt3Zgn4U9fNBUz9OMYpRF4="

before_install:
# - sudo apt-get update -qq
- pip install --user awscli

# hyrax-dependencies-build.tar.gz includes/makes the build directory
install:
# - (cd $TRAVIS_BUILD_DIR && curl -s -O https://s3.amazonaws.com/opendap.travis.build/hyrax-dependencies-build.tar.gz) 
- aws s3 cp s3://opendap.travis.build/hyrax-dependencies-build.tar.gz $TRAVIS_BUILD_DIR
- tar -C $HOME -xzvf $TRAVIS_BUILD_DIR/hyrax-dependencies-build.tar.gz
# - (cd $TRAVIS_BUILD_DIR && curl -s -O https://s3.amazonaws.com/opendap.travis.build/libdap-build.tar.gz) 
- aws s3 cp s3://opendap.travis.build/libdap-build.tar.gz $TRAVIS_BUILD_DIR
- tar -C $HOME -xzvf $TRAVIS_BUILD_DIR/libdap-build.tar.gz

before_script:
- printenv
- autoreconf --force --install --verbose

jobs:
  stages:
  - name: build
    if:  branch != coverity_scan
  # - name: package
  #  if:  branch != coverity_scan
    
  # include:
  # - stage: build
    # script: 
    # - export BES_BUILD=main
    # - ./configure --disable-dependency-tracking --prefix=$prefix --with-dependencies=$prefix/deps --enable-developer
    # - make -j7 && make install && besctl start && make check -j7 && besctl stop

  - stage: build
    script: 
    - export BES_BUILD=sonar-scan
    - ./configure --disable-dependency-tracking --prefix=$prefix --with-dependencies=$prefix/deps --enable-developer
    - build-wrapper-linux-x86-64 --out-dir bw-output make -j7
    - sonar-scanner

  # - stage: build
    # script:
    # - export BES_BUILD=distcheck
    # - ./configure --disable-dependency-tracking --prefix=$prefix --with-dependencies=$prefix/deps --enable-developer 
    # - make distcheck -j7

  #- stage: package
    # script: 
    #  - export BES_BUILD=deb
    #  - mkdir -p $prefix/debbuild
    #  - docker run --volume $prefix/debbuild:/root --volume $TRAVIS_BUILD_DIR:/root/travis
    #               --env OS=ubuntu14 --env LIBDAP_RPM_VERSION=$LIBDAP_RPM_VERSION
    #               opendap/ubuntu14_hyrax_build:1.4 /root/travis/build-deb.sh

  - stage: package
    script: 
    - export BES_BUILD=centos6
    - mkdir -p $prefix/rpmbuild
    - docker run --volume $prefix/rpmbuild:/root/rpmbuild --volume $TRAVIS_BUILD_DIR:/root/travis
                 --env OS=centos6 --env DIST=el6 --env LIBDAP_RPM_VERSION=$LIBDAP_RPM_VERSION
                 --env AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID --env AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
                 opendap/centos6_hyrax_builder:1.3 /root/travis/build-rpm.sh

  - stage: package
    script: 
    - export BES_BUILD=centos7
    - mkdir -p $prefix/rpmbuild
    - docker run --volume $prefix/rpmbuild:/root/rpmbuild --volume $TRAVIS_BUILD_DIR:/root/travis
                 --env OS=centos7 --env DIST=el7 --env LIBDAP_RPM_VERSION=$LIBDAP_RPM_VERSION
                 --env AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID --env AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
                 opendap/centos7_hyrax_builder:1.2 /root/travis/build-rpm.sh
    
after_script:
- ./upload-test-results.sh

before_deploy:
- test -d $TRAVIS_BUILD_DIR/package || mkdir $TRAVIS_BUILD_DIR/package
- if test $BES_BUILD = deb; then mv $TRAVIS_BUILD_DIR/../bes*-*_amd64.deb $TRAVIS_BUILD_DIR/package/; fi
- if test "$BES_BUILD" = "centos6"; then cp $prefix/rpmbuild/RPMS/x86_64/* $TRAVIS_BUILD_DIR/package/; fi
- if test "$BES_BUILD" = "centos7"; then cp $prefix/rpmbuild/RPMS/x86_64/* $TRAVIS_BUILD_DIR/package/; fi
- ls -l $TRAVIS_BUILD_DIR/package

deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: opendap.travis.build
  skip_cleanup: true
  local_dir: $TRAVIS_BUILD_DIR/package
  on:
    branch:
    - master
    condition: $BES_BUILD =~ ^deb|centos7|centos6$
