# -*- shell-script -*-
#
# Initial Travic-CI control file. 6.5.15 jhrg
# Hacked quite a bit; added support for parallel autotest tests
# and removed unused parts. jhrg 8.23.17

# Use the docker container-based build systems

dist: trusty

sudo: false

language: cpp

compiler: gcc

cache:
  directories:
  - $HOME/deps
  - $HOME/hyrax-dependencies
  - $HOME/libdap4

# Whitelist; assume tags for releases use the familiar dot notation
branches:
  only:
    - master
    - coverity_scan
    - travis
    - /^*-[0-9]+\.[0-9]+\.[0-9]+/

addons:
  ssh_known_hosts: www.opendap.org
  coverity_scan:
    project:
      name: "OPENDAP/bes"
    notification_email: jgallagher@opendap.org
    build_command: "make -j7"
    branch_pattern: coverity_scan
  apt:
    packages:
      - uuid-dev
      - libxml2-dev
      - libcurl4-openssl-dev
      - libcppunit-dev
      - libicu-dev
      - sshpass

# COVERITY_SCAN_TOKEN
# TRAVIS_AT_OO
# TESTSUITEFLAGS should run the autotest testsuites in parallel. 
env:
  global:
  - secure: "KNE6gkK7+WEQkNLiW/oap/3E/YSq6nzH6icXWpgA3MZj2KX0i6IzQgteeEGFUC1vDTzkCpqSidvGxdd22V33s0sHDuLRI5e17VFMjI5WyWjRQaXMhWmyO5/ofx7AArvaCWq6w6zfn1T/LiIuHXc14Rg8uuWEgDGWM0USiSbMepc="
  - secure: "J0HEROlR4GbOB1ZSoUIo5mEUzVzmxTKSvpS/jrAWbFB5JJHxCHd/oQh5dzTK9NiDaGGPN9Y2acA8Oyuz4Hsle7+DgAWvtGr4+hFqfYx7oLsxhhb3VTRNivuSsldsbNCUO4ebtezArH4hVLYw6ScwgDpnQfVrPkBMpyf4Iu3UMYs="
  - TESTSUITEFLAGS=-j7

# Use this to install any prerequisites or dependencies necessary to
# run your build.
install:
  - bash ./install_bes_source_deps.sh

# Use this to prepare your build for testing
before_script:
  - autoreconf --force --install --verbose
  - export PATH=$HOME/deps/bin:$PATH
  - ./configure --prefix=$HOME/build --with-dependencies=$HOME/deps --enable-developer

# All commands must exit with code 0 on success. Anything else is
# considered failure. Note that the coverity scan addon runs make
# so we don't want to repeat that here.
#
# Added 'build' stage with two parallel scripts. This is intended
# to spped the build up. We could add a second stage for deployment.
# jhrg 12/20/17 
jobs:
  include:
    - stage: build
      script: if [ ${COVERITY_SCAN_BRANCH} != 1 ]; then make -j7 && make check -j7; fi
    - # stage name not required, will continue to use `test`
      script: if [ ${COVERITY_SCAN_BRANCH} != 1 ]; then make distcheck -j7; fi


# This shows how to copy the results of running the tests to a know
# host. We're not doing this now, but it might be useful. In addition
# to these lines here, www.opendap.org must be a known_host. set this
# in the 'addons' section above.
#
# Add sshpass using apt under addons.
#
# The env var $TRAVIS_AT_OO must be made using 
# "travis encrypt TRAVIS_AT_OO=<secret> -r OPENDAP/bes"
# where -r <...> is the name of the travis repo from our Travis landing page
# and the <secret> is the 'travis' user's password on www.opendap.org.

after_script:
   - LOG_FILE_TGZ=bes-autotest-${TRAVIS_BUILD_NUMBER}-logs.tar.gz
   - tar -czf /tmp/${LOG_FILE_TGZ} `find . -name timing -prune -o -name '*.log' -print`
   - sshpass -p ${TRAVIS_AT_OO} scp /tmp/${LOG_FILE_TGZ} travis@www.opendap.org:tmp/${LOG_FILE_TGZ}
