## directories
.deps
.libs
autom4te.cache

## files
*~
*.o
*.lo
*.Po
*.Tpo
*.output
*.tab.cc
*.tab.hh
lex.*.cc
*.la
# Assuming there's a ...pc.in it's built from
*.pc
*.log
*.trs

.dirstamp

Makefile
Makefile.in
conf/compile
conf/config.guess
conf/config.sub
conf/depcomp
conf/install-sh
conf/libtool.m4
conf/ltmain.sh
conf/ltoptions.m4
conf/ltsugar.m4
conf/ltversion.m4
conf/lt~obsolete.m4
conf/missing
conf/test-driver
config.h
config.h.in
config.status
configure
stamp-h?
aclocal.m4
libtool
atconfig
atlocal
fonc.conf

## fileout_netcdf specific files

unit-tests/arrayT
unit-tests/arrayT01
unit-tests/attrT
unit-tests/fonc_handlerTest
unit-tests/gridT
unit-tests/namesT
unit-tests/package.m4
unit-tests/readT
unit-tests/seqT
unit-tests/simpleT00
unit-tests/simpleT01
unit-tests/simpleT02
unit-tests/structT00
unit-tests/structT01
unit-tests/structT02
unit-tests/test_config.h

tests/bes.conf
tests/fonc_handler_test
tests/fonc_handler_test.dir/
tests/package.m4

data/build_test_data/*T
data/build_test_data/*T??
data/build_test_data/*.dods
data/build_test_data/*.das
data/build_test_data/bes.conf
