
# This file holds credentials for the CredentialsManager.
#
# Example:
# In the initial use of the CredentialsManager, what follows are the intended semantics
# of the subkeys. The 'main' key is used only for grouping (AFAIK).
#
# The CredentialsManager can be used to store other things and even though the code has
# constants to parse the 'id,' 'key,' etc., fields, any arbitrary subkey can be used and
# the AccessCredentials::get() method can be used to search for it and return its value.
#
# The value of the 'url' subley is special since that it the string used to search for
# credentials.
#
# 'url' is used to match the other information with any URL that matches the prefix
# 'id' is the user Id, 'key' is the matching secret key, 'region' is the AWS region and
# 'bucket' is the S3 bucket. Matching URLs will be signed using the AWS v4 algorithm.
# The name to the left (e.g., 'cloudydap') is arbitrary and only serves to group these
# five strings together.
#
# cloudydap = url:https://s3.amazonaws.com/cloudydap/
# cloudydap += id:SOME_VALID_ID
# cloudydap += key:SOME_VALID_KEY
# cloudydap += region:us-east-1
# cloudydap += bucket:cloudydap AFAIK, 'bucket' is not used. jhrg 3/7/25
#
# This can be used to look up credentials for S3 buckets by assigning the 'url' subkey
# the name of the bucket. The is confusing, since there's _another_ subkey called 'bucket,'
# but don't use that. Only the 'url' subkey is used by the
