
*~
*.o
*.lo

*.DS_Store

.deps/
.libs/

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
configure
libdebug_functions.la
libtool
stamp-h1
tests/atconfig
tests/atlocal
tests/bes.conf
tests/bes.log
tests/debug_functionsTest
tests/debug_functionsTest.log
tests/debug_functionsTest.dir
tests/package.m4
unit-tests/*.Po
unit-tests/*.dSYM
unit-tests/test_config.h
unit-tests/AbortFunctionTest
unit-tests/DebugFunctionsTest
unit-tests/ErrorFunctionTest
unit-tests/SleepFunctionTest
unit-tests/test-suite.log
debug_functions.conf