## directories
.deps
.libs
autom4te.cache

## files
*~
*.o
*.lo
*.Po
*.output
*.tab.cc
*.tab.hh
lex.*.cc
*.la
# Assuming there's a ...pc.in it's built from
*.pc
*.log
*.trs

.dirstamp

Makefile
Makefile.in
conf/compile
conf/config.guess
conf/config.sub
conf/depcomp
conf/install-sh
conf/libtool.m4
conf/ltmain.sh
conf/ltoptions.m4
conf/ltsugar.m4
conf/ltversion.m4
conf/lt~obsolete.m4
conf/missing
conf/test-driver
config.h
config.h.in
config.status
configure
stamp-h?
aclocal.m4
libtool
atconfig
atlocal
nc.conf

## netcdf_handler specific files

bes-testsuite/bes.conf
bes-testsuite/generate_data_baseline.sh
bes-testsuite/generate_metadata_baseline.sh
bes-testsuite/nc4_netcdf_handler_tests
bes-testsuite/netcdf_handlerTest
bes-testsuite/package.m4




