## directories
.deps
.libs
autom4te.cache

## files
*~
*.o
*.lo
*.Po
*.output
*.tab.cc
*.tab.hh
lex.*.cc
*.la
# Assuming there's a ...pc.in it's built from
*.pc
*.log
*.trs

.dirstamp
.cproject
.project
.DS_Store

Makefile
Makefile.in
conf/compile
conf/config.guess
conf/config.sub
conf/depcomp
conf/install-sh
conf/libtool.m4
conf/ltmain.sh
conf/ltoptions.m4
conf/ltsugar.m4
conf/ltversion.m4
conf/lt~obsolete.m4
conf/missing
conf/test-driver
config.h
config.h.in
config.status
configure
stamp-h?
aclocal.m4
libtool
atconfig
atlocal

## dap-server specific files

dap-server.conf
www-interface/javascript.h
www-interface/js2h.pl

asciival/unit-tests/AsciiArrayTest
asciival/unit-tests/AsciiOutputTest
asciival/unit-tests/test_config.h

asciival/tests/ASCII_HandlerTest*
asciival/tests/bes.conf
asciival/tests/package.m4
/usage.conf
