/testsuite
/testsuite.dir/
/testsuite_mds_tests.dir/
/testsuite_mds_tests
/testsuite_s3_tests
/testsuite_s3_tests.dir/
/testsuite_check_dmrpp
/testsuite_check_dmrpp.dir
/testsuite_merge_dmrpp
/testsuite_merge_dmrpp.dir
/mds_for_tests/
*.bin
AIRS_test_data/*
/mds_for_tests_ledger.txt
export_for_tests.sh
/besstandalone_dmrpp.tracetemplate
/mds_ledger.txt
/misc_bescmd_files/f17.nc.dap.bescmd
/misc_bescmd_files/f17.nc.dap.lat_lon.bescmd
/misc_bescmd_files/f17.nc.dap.wind_speed.bescmd
/misc_bescmd_files/f17.nc.dmr.bescmd
/misc_bescmd_files/f17_ssmis_20210927v7_d3d.nc
/misc_bescmd_files/f17_ssmis_20210927v7_d3d.nc.dmrpp
/misc_bescmd_files/ghrsst.sst.bescmd
/misc_bescmd_files/ghrsst.sst.dods.bescmd
/misc_bescmd_files/1A.GMP.h5.all.bescmd
/misc_bescmd_files/1A.GMP.h5.das.bescmd
/misc_bescmd_files/1A.GMP.h5.dds.bescmd
/misc_bescmd_files/1A.GMP.h5.dmr.bescmd
/misc_bescmd_files/1A.GMP.h5.one_var.bescmd
/misc_bescmd_files/1A.GMP.h5.one_var.dods.bescmd
/testsuite_dmrpp_builder
